<html>
<head>
  <title>
    User Page</title>
</head>
<body bgcolor="lightgreen">
<h1 align=center>USER PAGE</h1>
<table border=1 align=center>
  <form action="/signup" method=POST class="signup">
    <tr>
      <td>First Name</td>
      <td><input type=text name=FIRSTNAME id="FIRSTNAME"></td>
    </tr>
    <tr>
      <td>Last Name</td>
      <td><input type=text name=LASTNAME id="LASTNAME"></td>
    </tr>

    <tr><td align=center><input type=submit name=submit value=Submit></td>
      <td align=center><input type=reset name=reset value=Clear></td>
    </tr>
  </form>
</table>

</body>
</html>
